In [1]:
import pandas as pd
import names
import random
import time
from datetime import datetime
import numpy as np
from random import randrange
from datetime import timedelta

In [2]:
#To generate initial timestamps

def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

Create product table

In [3]:
# initialize data of lists.
Product_value= 15
product_types = {'PID': ['P1'],
        'Value': [Product_value],
        'Fragile': [0]}

# Create DataFrame
product_types_df = pd.DataFrame(product_types)

# Print the output.
product_types_df

  PID  Value  Fragile
0  P1     15        0

Create customer table

In [4]:
customers_df = pd.DataFrame(columns = ["CID", "Name","Bank Account", 'Importance'])
max_customers= 50
for i in range(max_customers):
    customers_df = customers_df.append({'CID':"c"+str(i+1),
                                        'Name':names.get_full_name(),
                                        'Bank Account': 'BE'+ str(68-i)+" " + str(7689-i*3)+" "  + str(4567+i*13+67)+" "  + str(3467 - i*7 -789),
                                        'Importance': random.choice(['High','Low'])} ,
                                       ignore_index=True) 
customers_df

    CID                Name         Bank Account Importance
0    c1        Jerry Patton  BE68 7689 4634 2678        Low
1    c2      Phillip Conrow  BE67 7686 4647 2671        Low
2    c3      Shelby Simpson  BE66 7683 4660 2664       High
3    c4      Hilario Parker  BE65 7680 4673 2657        Low
4    c5    Carmen Nicholson  BE64 7677 4686 2650       High
5    c6     Laura Christman  BE63 7674 4699 2643       High
6    c7      William Malone  BE62 7671 4712 2636       High
7    c8        Alta Leonard  BE61 7668 4725 2629        Low
8    c9        Melissa Reed  BE60 7665 4738 2622       High
9   c10          Mary Heard  BE59 7662 4751 2615       High
10  c11         Karla Meade  BE58 7659 4764 2608        Low
11  c12       William Payne  BE57 7656 4777 2601       High
12  c13     Britt Crecelius  BE56 7653 4790 2594        Low
13  c14       William Sharp  BE55 7650 4803 2587       High
14  c15  Charles Livingston  BE54 7647 4816 2580       High
15  c16      Michael Hughes  BE53 7644 4829 2573       High
16  c17          Brian Pitt  BE52 7641 4842 2566       High
17  c18      Bryan Giardina  BE51 7638 4855 2559       High
18  c19      Sonia Dorsette  BE50 7635 4868 2552        Low
19  c20         Mark Balmer  BE49 7632 4881 2545       High
20  c21       Timothy Watts  BE48 7629 4894 2538        Low
21  c22        Hazel Hinton  BE47 7626 4907 2531       High
22  c23       Anthony Akins  BE46 7623 4920 2524        Low
23  c24       Clarence Keys  BE45 7620 4933 2517        Low
24  c25     Harlan Shephard  BE44 7617 4946 2510       High
25  c26        Edna Mcduffy  BE43 7614 4959 2503       High
26  c27           Gail Gary  BE42 7611 4972 2496       High
27  c28     Raymond Mccatty  BE41 7608 4985 2489       High
28  c29       James Fullmer  BE40 7605 4998 2482        Low
29  c30     Rosalie Gasaway  BE39 7602 5011 2475       High
30  c31      Patricia Maobi  BE38 7599 5024 2468        Low
31  c32        Lori Wallace  BE37 7596 5037 2461       High
32  c33   Charles Armstrong  BE36 7593 5050 2454        Low
33  c34        Earl Jiminez  BE35 7590 5063 2447        Low
34  c35         Joseph Lowe  BE34 7587 5076 2440        Low
35  c36       Angela Bobrow  BE33 7584 5089 2433        Low
36  c37      Charlotte Mann  BE32 7581 5102 2426        Low
37  c38          Tonia Rief  BE31 7578 5115 2419        Low
38  c39     Janice Flannery  BE30 7575 5128 2412       High
39  c40     Kristen Coleman  BE29 7572 5141 2405        Low
40  c41          Derek Cruz  BE28 7569 5154 2398        Low
41  c42           Mary Kwan  BE27 7566 5167 2391       High
42  c43        Joseph Brown  BE26 7563 5180 2384       High
43  c44      Matthew Hudock  BE25 7560 5193 2377       High
44  c45      Jane Castaneda  BE24 7557 5206 2370       High
45  c46       George Pullen  BE23 7554 5219 2363       High
46  c47    Frederick Mccann  BE22 7551 5232 2356        Low
47  c48         Lori Cozart  BE21 7548 5245 2349       High
48  c49     Cynthia Jackson  BE20 7545 5258 2342       High
49  c50        Alisha Plant  BE19 7542 5271 2335       High

Create Order table

In [5]:
orders_df = pd.DataFrame(columns = ["OID"])

Create the events table and the dynamic attribute tables

In [6]:
events_df = pd.DataFrame(columns = ["EID", "Activity","Timestamp",'Customers','Order',"Product Type","Resource"])
quantity_df = pd.DataFrame(columns = ["QID", "Quantity","EID","OID"])
order_value_df = pd.DataFrame(columns = ["VID", "Order Value","EID","OID"])
refund_df = pd.DataFrame(columns = ["RID", "Refund Value","EID","OID"])
shipping_method_df = pd.DataFrame(columns = ["SID", "Shipping Method","EID","OID"])

Create list of potential resources for each activity

In [7]:
#Resources1 are responsible for the activities: Receive order, confirm purchase, determine shipping method,
#sent invoice, recollect letter, pay refund, file order

Resources1= ['Jan','Gabriel','Olivia','Sophia','Evelyn','Noah']

#Resources 2 are responsible for the activities: Collect product, put protection around product, add product to package

Resources2 = ['Johannes','Elizabeth','Jack','Chloe','Sebastian','Grace']

#Resources 3 are responsible for the activities: Ship by courrier, Ship by mail, ship by express courrier, deliver package

Resources3 = ['Alexandre','Violet','David','Zoe','Ryan','Claire']

In [8]:
def choice_excluding(lst, exception):
    possible_choices = [v for v in lst if v != exception]
    return random.choice(possible_choices)
print(choice_excluding(Resources1,random.choice(Resources1)))

Sophia

Create event log

In [9]:
count = 1
Number_of_orders = 100

resource1 = random.choice(Resources1)
resource2 = random.choice(Resources2)
resource3 = random.choice(Resources3)

start = datetime.strptime('1/1/2022 08:30 AM', '%d/%m/%Y %I:%M %p')
end =  datetime.strptime('1/1/2022 6:00 PM', '%d/%m/%Y %I:%M %p')
customer_list= list()
time_between_events= 700
order_value=100
refund_prob = 0.5
next_event_timerange = 10000
max_quantity= 15

for i in range(0, Number_of_orders):
    print(i)

    #Initialize customers and retrieve CID and importance
    customer= customers_df.sample()
    CID= customer['CID'].values
    Importance = customer['Importance'].values
    customer_list.append(CID[0])
    
    #Initialize products
    product = product_types_df.sample(n=1,replace=True)
    
    #product_list = set(product.PID.values.tolist())
    
    product_list = product.PID.values
    
    
    #Initialize resources
    resource1 = choice_excluding(Resources1,resource1)
    resource2 = choice_excluding(Resources2,resource2)
    resource3 = choice_excluding(Resources3,resource3)
    
    stamp = random_date(start, end)
    
# Create first event

    #Events Table
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Place Order',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Order': 'o'+str(i+1),
                                 'Product Type': product_list},
                                           ignore_index=True)
    
    # Order Table
    orders_df=orders_df.append({'OID':'o'+str(i+1)},ignore_index=True)
    
    # Quantity Table
    quantity_df = quantity_df.append({'QID': 'Q' + str(i+1),'EID':"e"+str(i+count),'OID':'o'+str(i+1)},ignore_index=True)
    total = 0
    Quantity = []
    
    for q in range(0,len(product_list)):
        
            quantity = random.randint(1, max_quantity)
            Quantity.append(quantity)
            value = product.iloc[q]['Value']*quantity
            total = total + value
    product['Quantity'] = Quantity
    q_sum = product.groupby('PID').sum()
    #print(q_sum)
    
    for value in product_list:
        quantity_df.at[i,'Quantity'] = q_sum.at[value,'Quantity']
    
    # Refund Table
    refund_df = refund_df.append({'RID':'R'+ str(refund_df.shape[0] + 1), 'Refund Value' : 0,'EID':"e"+str(i+count),'OID':'o'+str(i+1)},ignore_index=True)
    
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)
  
    stamp = stamp + timedelta(seconds=time_duration)
    
 # Create event 2

    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Receive Order',
                                    'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Order': 'o'+str(i+1),
                                 'Product Type': product_list,
                                 'Resource': resource1},
                                           ignore_index=True)   
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)
  
    stamp = stamp + timedelta(seconds=time_duration)
    
 # Create event 3

    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Calculate Order Value',
                                    'Timestamp': stamp,
                
                                 'Order': 'o'+str(i+1),
                                 'Product Type': product_list,
                                 'Resource': resource1},
                                           ignore_index=True)
    
    # Value Table (created by confirm purchase)
    
    order_value_df = order_value_df.append({'VID':'V'+str(i+1),'Order Value': total,'EID':"e"+str(i+count),'OID':'o'+str(i+1)},ignore_index=True)
    
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)
  
    stamp = stamp + timedelta(seconds=time_duration)

# Create event 4

    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Confirm Purchase',
                                    'Timestamp': stamp,
                
                                 'Order': 'o'+str(i+1),
                                 'Product Type': product_list,
                                 'Resource': resource1},
                                           ignore_index=True)
    
    
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)
  
    stamp = stamp + timedelta(seconds=time_duration)
    
# Create event 7

    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Get confirmation',
                                  'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Order': 'o'+str(i+1)},
                                           ignore_index=True)   
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    

# Create event 8
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Confirm shipping information',
                                  'Timestamp': stamp,
                                 'Customers': CID[0],
                                 'Order': 'o'+str(i+1)},
                                           ignore_index=True)   
    # Increase count
    count = count + 1
    
   #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    
### Tot hier zeker ok

# Create event 9
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Determine shipping method',
                                  'Timestamp': stamp,
                                  'Customers': CID[0],
                                 'Order': 'o'+str(i+1),
                                 'Resource': resource1},
                                           ignore_index=True)
   # Increase count
    count = count + 1
    
   #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    #make the shipping method table
    
    #We need to parallelize therefore we make a split with random so either first the courrier is 
    #send or first the invoice is send
    split = random.randint(0, 1)
    
    #Shipping method comes first
    
    if split==1:
        print('Shipping method comes first')
        #make event Determine shipping method and shipping method event itself
        control=0
        ## If importance is high then shipping method is courrier
        if Importance[0] == 'High':
            
            control = 1
            shipping_method_df = shipping_method_df.append({'EID':"e"+str(i+count-1),
                                                        'SID': 'S'+str(shipping_method_df.shape[0] + 1),
                                                        'Shipping Method': 'Courrier',
                                                        'OID':'o' + str(i+1)},
                                               ignore_index=True)

            #Add shipping event courrier

            now=datetime.now()
            events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Ship by courrier',
                                      'Timestamp': stamp,

                                     'Order': 'o'+str(i+1),
                                     'Resource': resource3},
                                               ignore_index=True)
            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)

            stamp = stamp + timedelta(seconds=time_duration)
            
            # We don't need a break here because we are not looping through the products list
            # to determine whether something is fragile or not
           
            
        if order_value_df.loc[i]['Order Value'] >= order_value and control !=1 :
            
            control = 1
            shipping_method_df = shipping_method_df.append({'EID':"e"+str(i+count-1),
                                                        'SID': 'S' + str(shipping_method_df.shape[0] + 1),
                                                        'Shipping Method': 'Courrier',
                                                        'OID':'o' + str(i+1)},
                                                   ignore_index=True)
            
            #Add shipping event courrier
            
            now=datetime.now()
            events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Ship by courrier',
                                      'Timestamp': stamp,

                                     'Order': 'o'+str(i+1),
                                                         'Resource': resource3},
                                               ignore_index=True)
            
            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)
            
            stamp = stamp + timedelta(seconds=time_duration)
            
        if control !=1:
            shipping_method_df = shipping_method_df.append({'EID':"e"+str(i+count-1),
                                                        'SID': 'S'+str(shipping_method_df.shape[0] + 1),
                                                        'Shipping Method': 'Mail',
                                                        'OID':'o' + str(i+1)},
                                                   ignore_index=True)
            #Add shipping event mail
            events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Ship by mail',
                                      'Timestamp': stamp,
                                     'Order': 'o'+str(i+1),
                                                         'Resource': resource3},
                                               ignore_index=True)
            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)

            stamp = stamp + timedelta(seconds=time_duration)
            
        # Create event send invoice
        
        events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Send invoice',
                                      'Timestamp': stamp,
                                     'Order': 'o'+str(i+1),
                                     'Resource': resource1},
                                               ignore_index=True)
        # Increase count
        count = count + 1
    
        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)
        
    #Send invoice comes first
    
    if split==0:
        
        print('Send invoice comes first')
        
        # Create event send invoice
        
        events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Send invoice',
                                      'Timestamp': stamp,
                                     'Order': 'o'+str(i+1),
                                     'Resource': resource1},
                                               ignore_index=True)
        # Increase count
        count = count + 1
    
        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)
        
         ## If importance is high then shipping method is courrier
        control=0   
        if Importance[0] == 'High':
            
            control = 1
            shipping_method_df = shipping_method_df.append({'EID':"e"+str(i+count-2),
                                                        'SID': 'S'+str(shipping_method_df.shape[0] + 1),
                                                        'Shipping Method': 'Courrier',
                                                        'OID':'o' + str(i+1)},
                                               ignore_index=True)

            #Add shipping event courrier

            now=datetime.now()
            events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Ship by courrier',
                                      'Timestamp': stamp,

                                     'Order': 'o'+str(i+1),
                                     'Resource': resource3},
                                               ignore_index=True)
            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)

            stamp = stamp + timedelta(seconds=time_duration)
            
            
        if order_value_df.loc[i]['Order Value'] >= 100 and control !=1 :
            
            control = 1
            shipping_method_df = shipping_method_df.append({'EID':"e"+str(i+count-2),
                                                        'SID': 'S' + str(shipping_method_df.shape[0] + 1),
                                                        'Shipping Method': 'Courrier',
                                                        'OID':'o' + str(i+1)},
                                                   ignore_index=True)
            
            #Add shipping event courrier
            
            now=datetime.now()
            events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Ship by courrier',
                                      'Timestamp': stamp,

                                     'Order': 'o'+str(i+1),
                                                         'Resource': resource3},
                                               ignore_index=True)
            
            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)
            
            stamp = stamp + timedelta(seconds=time_duration)
            
            
        if control !=1:
            
            shipping_method_df = shipping_method_df.append({'EID':"e"+str(i+count-2),
                                                        'SID': 'S'+str(shipping_method_df.shape[0] + 1),
                                                        'Shipping Method': 'Mail',
                                                        'OID':'o' + str(i+1)},
                                                   ignore_index=True)
            #Add shipping event mail
            events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Ship by mail',
                                      'Timestamp': stamp,
                                     'Order': 'o'+str(i+1),
                                                         'Resource': resource3},
                                               ignore_index=True)
            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)

            stamp = stamp + timedelta(seconds=time_duration)
            
    # Create event deliver package
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Deliver package',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers':CID[0],
                                                     'Resource': resource3},
                                           ignore_index=True)
    
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)
    
    stamp = stamp + timedelta(seconds=time_duration)
    
    
    # Create event Determine satisfaction
    #randomly decide on whether the customer wants a refund or not
    r = random.uniform(0, 1)
    #r = random.randint(0, 1)
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Determine satisfaction',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers':CID[0]},
                                           ignore_index=True)
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    if r<refund_prob:
        print('Customer does not want refund')
        count = count + 1
        events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'File Order',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Resource': resource1
                                 },
                                           ignore_index=True)
        
        
        #Initialize the next timerange
        start = stamp - timedelta(seconds=next_event_timerange)
        end = stamp 
    
        continue
        
    #if no refund is asked the process ends with file order
    
    #create event File order
    
    else:
        refund_df = refund_df.append({'RID':'R' + str(refund_df.shape[0] + 1), 'Refund Value' : 1,'EID':"e"+str(i+count),'OID':'o'+str(i+1)},ignore_index=True)
         
        print('Since refund is asked, we take the other path')
        
     # Increase count
    count = count + 1
    
   #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    # Create event Request refund
    
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Request refund',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers':CID[0]},
                                           ignore_index=True)
   
   
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    # Create event Confirm shipping information
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Confirm shipping information',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers':CID[0]},
                                           ignore_index=True)
    
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    # Create event Determine shipping method
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Determine shipping method',
                                  'Timestamp': stamp,
                                 'Order': 'o'+str(i+1),
                                 'Resource': resource1},
                                           ignore_index=True)
    
    
    shipping_method_df = shipping_method_df.append({'EID':"e"+str(i+count),
                                                    'SID': 'S'+ str(shipping_method_df.shape[0] + 1),
                                                    'Shipping Method': 'Express Courrier',
                                                    'OID':'o' + str(i+1)},
                                               ignore_index=True)
   
   # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    #We need to parallelize therefore we make a split with random so either first the express courrier is 
    #send or first the recollect letter is send
    
    split = random.randint(0, 1)
    if split == 0:
            print('first express courrier then recollect letter')

            # Create event Ship by express courrier

            events_df = events_df.append({'EID':"e"+str(i+count),
                                          'Activity':'Ship by express courrier',
                                          'Timestamp': stamp ,
                                         'Order': 'o'+str(i+1),
                                                             'Resource': resource3},
                                                   ignore_index=True)




            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)

            stamp = stamp + timedelta(seconds=time_duration)

            # Create event Recollect Letter

            events_df = events_df.append({'EID':"e"+str(i+count),
                                          'Activity':'Recollect Letter',
                                          'Timestamp': stamp ,
                                         'Order': 'o'+str(i+1),
                                         'Resource': resource1},
                                                   ignore_index=True)


            # Increase count
            count = count + 1
    
            #Increase timestamp at random between 1 and 700 seconds
            time_duration = random.uniform(1,time_between_events)

            stamp = stamp + timedelta(seconds=time_duration)
            
    if split == 1:
        
        print('first recollect letter then express courrier')
        
         # Create event Recollect Letter

        events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Recollect Letter',
                                      'Timestamp': stamp ,
                                     'Order': 'o'+str(i+1),
                                     'Resource': resource1},
                                               ignore_index=True)


        # Increase count
        count = count + 1
    
        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)
    
        # Create event Ship by express courrier

        events_df = events_df.append({'EID':"e"+str(i+count),
                                      'Activity':'Ship by express courrier',
                                      'Timestamp': stamp ,
                                     'Order': 'o'+str(i+1),
                                                         'Resource': resource3},
                                               ignore_index=True)
        
        # Increase count
        count = count + 1
    
        #Increase timestamp at random between 1 and 700 seconds
        time_duration = random.uniform(1,time_between_events)

        stamp = stamp + timedelta(seconds=time_duration)
        
    # Create event Return Package
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Return Package',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers': CID[0]},
                                           ignore_index=True)

   
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    
    # Create event Pay refund
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Pay refund',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers': CID[0],
                                 'Resource': resource1},
                                           ignore_index=True)

   
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    # Create event Deliver package
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Deliver package',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers': CID[0],
                                                     'Resource': resource3},
                                           ignore_index=True)

   
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    
        #Create event Determine satisfaction
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'Determine satisfaction',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Customers':CID[0]},
                                           ignore_index=True)
    
    #Change refund variable to 0 since the customer is happy
    
    refund_df = refund_df.append({'RID':'R' + str(refund_df.shape[0] + 1), 'Refund Value' : 0,'EID':"e"+str(i+count),'OID':'o'+str(i+1)},ignore_index=True)
    
    
    # Increase count
    count = count + 1
    
    #Increase timestamp at random between 1 and 700 seconds
    time_duration = random.uniform(1,time_between_events)

    stamp = stamp + timedelta(seconds=time_duration)
    
    #Create event File Order
    
    events_df = events_df.append({'EID':"e"+str(i+count),
                                  'Activity':'File Order',
                                  'Timestamp': stamp ,
                                 'Order': 'o'+str(i+1),
                                 'Resource': resource1},
                                           ignore_index=True)
    
    
    #Initialize the next timerange
    start = stamp- timedelta(seconds=next_event_timerange)
    end = stamp

0
Send invoice comes first
Customer does not want refund
1
Shipping method comes first
Since refund is asked, we take the other path
first recollect letter then express courrier
2
Send invoice comes first
Since refund is asked, we take the other path
first recollect letter then express courrier
3
Send invoice comes first
Customer does not want refund
4
Send invoice comes first
Customer does not want refund
5
Shipping method comes first
Customer does not want refund
6
Shipping method comes first
Since refund is asked, we take the other path
first express courrier then recollect letter
7
Send invoice comes first
Customer does not want refund
8
Send invoice comes first
Customer does not want refund
9
Shipping method comes first
Since refund is asked, we take the other path
first recollect letter then express courrier
10
Send invoice comes first
Customer does not want refund
11
Shipping method comes first
Since refund is asked, we take the other path
first express courrier then recollect letter
12
Shipping method comes first
Customer does not want refund
13
Shipping method comes first
Since refund is asked, we take the other path
first express courrier then recollect letter
14
Send invoice comes first
Since refund is asked, we take the other path
first recollect letter then express courrier
15
Shipping method comes first
Customer does not want refund
16
Shipping method comes first
Customer does not want refund
17
Shipping method comes first
Since refund is asked, we take the other path
first express courrier then recollect letter
18
Send invoice comes first
Customer does not want refund
19
Shipping method comes first
Since refund is asked, we take the other path
first express courrier then recollect letter

Order the events by timestamps

In [10]:
#First order events by timestamps
events_df = pd.DataFrame(events_df)
events_df = events_df.sort_values(by=['Timestamp'])
#Reset the indexes
events_df= events_df.reset_index(drop=True)
events_df= events_df.reset_index()
#Rename column names
events_df=events_df.rename(columns = {'index':'EID_new', 'EID':'EID_old'})
#Rename the values of 'EID_new'
events_df['EID_new'] ='e' + (events_df['EID_new']+1).astype(str)
events_df.head(50)

,EID_new,EID_old,Activity,Timestamp,Customers,Order,Product Type,Resource
0,e1,e301,Place Order,2022-01-01 06:29:30.886545,c25,o20,[P1],NaN
1,e2,e302,Receive Order,2022-01-01 06:32:31.027531,c25,o20,[P1],Evelyn
2,e3,e303,Calculate Order Value,2022-01-01 06:41:54.232130,NaN,o20,[P1],Evelyn
3,e4,e304,Confirm Purchase,2022-01-01 06:43:47.419654,NaN,o20,[P1],Evelyn
4,e5,e305,Get confirmation,2022-01-01 06:43:50.685787,c25,o20,NaN,NaN
5,e6,e306,Confirm shipping information,2022-01-01 06:49:19.695876,c25,o20,NaN,NaN
6,e7,e307,Determine shipping method,2022-01-01 06:50:10.117515,c25,o20,NaN,Evelyn
7,e8,e308,Ship by courrier,2022-01-01 07:00:16.856934,NaN,o20,NaN,Ryan
8,e9,e289,Place Order,2022-01-01 07:03:57.531410,c39,o19,[P1],NaN
9,e10,e268,Place Order,2022-01-01 07:06:11.448466,c23,o18,[P1],NaN
10,e11,e309,Send invoice,2022-01-01 07:06:26.553710,NaN,o20,NaN,Evelyn
11,e12,e290,Receive Order,2022-01-01 07:09:42.413024,c39,o19,[P1],Olivia
12,e13,e310,Deliver package,2022-01-01 07:12:08.079949,c25,o20,NaN,Ryan
13,e14,e311,Determine satisfaction,2022-01-01 07:15:13.992457,c25,o20,NaN,NaN
14,e15,e269,Receive Order,2022-01-01 07:15:28.092529,c23,o18,[P1],Sophia
15,e16,e270,Calculate Order Value,2022-01-01 07:16:24.287734,NaN,o18,[P1],Sophia
16,e17,e291,Calculate Order Value,2022-01-01 07:17:22.838867,NaN,o19,[P1],Olivia
17,e18,e312,Request refund,2022-01-01 07:22:23.255356,c25,o20,NaN,NaN
18,e19,e313,Confirm shipping information,2022-01-01 07:22:24.359127,c25,o20,NaN,NaN
19,e20,e271,Confirm Purchase,2022-01-01 07:27:29.293811,NaN,o18,[P1],Sophia
20,e21,e292,Confirm Purchase,2022-01-01 07:28:52.708403,NaN,o19,[P1],Olivia
21,e22,e293,Get confirmation,2022-01-01 07:28:56.405573,c39,o19,NaN,NaN
22,e23,e314,Determine shipping method,2022-01-01 07:31:31.751286,NaN,o20,NaN,Evelyn
23,e24,e294,Confirm shipping information,2022-01-01 07:34:25.219439,c39,o19,NaN,NaN
24,e25,e315,Ship by express courrier,2022-01-01 07:35:21.908091,NaN,o20,NaN,Ryan
25,e26,e316,Recollect Letter,2022-01-01 07:36:57.347916,NaN,o20,NaN,Evelyn
26,e27,e272,Get confirmation,2022-01-01 07:37:22.732198,c23,o18,NaN,NaN
27,e28,e295,Determine shipping method,2022-01-01 07:39:36.005222,c39,o19,NaN,Olivia
28,e29,e317,Return Package,2022-01-01 07:42:18.816775,c25,o20,NaN,NaN
29,e30,e318,Pay refund,2022-01-01 07:46:08.795098,c25,o20,NaN,Evelyn
30,e31,e273,Confirm shipping information,2022-01-01 07:48:42.198657,c23,o18,NaN,NaN
31,e32,e296,Send invoice,2022-01-01 07:50:21.800690,NaN,o19,NaN,Olivia
32,e33,e297,Ship by courrier,2022-01-01 07:50:46.892546,NaN,o19,NaN,Violet
33,e34,e256,Place Order,2022-01-01 07:52:06.490613,c49,o17,[P1],NaN
34,e35,e257,Receive Order,2022-01-01 07:52:53.112775,c49,o17,[P1],Olivia
35,e36,e319,Deliver package,2022-01-01 07:55:50.505580,c25,o20,NaN,Ryan
36,e37,e258,Calculate Order Value,2022-01-01 07:57:50.623660,NaN,o17,[P1],Olivia
37,e38,e274,Determine shipping method,2022-01-01 07:59:52.579757,c23,o18,NaN,Sophia
38,e39,e298,Deliver package,2022-01-01 08:02:03.105332,c39,o19,NaN,Violet
39,e40,e320,Determine satisfaction,2022-01-01 08:02:13.341870,c25,o20,NaN,NaN
40,e41,e259,Confirm Purchase,2022-01-01 08:02:56.904792,NaN,o17,[P1],Olivia
41,e42,e299,Determine satisfaction,2022-01-01 08:05:41.291057,c39,o19,NaN,NaN
42,e43,e260,Get confirmation,2022-01-01 08:05:57.228338,c49,o17,NaN,NaN
43,e44,e275,Ship by courrier,2022-01-01 08:07:42.326093,NaN,o18,NaN,Claire
44,e45,e321,File Order,2022-01-01 08:07:54.924190,NaN,o20,NaN,Evelyn
45,e46,e276,Send invoice,2022-01-01 08:09:56.343645,NaN,o18,NaN,Sophia
46,e47,e261,Confirm shipping information,2022-01-01 08:10:16.729645,c49,o17,NaN,NaN
47,e48,e262,Determine shipping method,2022-01-01 08:11:34.476082,c49,o17,NaN,Olivia
48,e49,e300,File Order,2022-01-01 08:14:44.886545,NaN,o19,NaN,Olivia
49,e50,e263,Ship by courrier,2022-01-01 08:17:32.865140,NaN,o17,NaN,Ryan

In [11]:
#For every row in the dynamic attribute table
    #take the EID
    #look it up in the events_df table and retrieve the EID_new save it in a separate variable
    # put that value in the attributes table
    
for j in range(len(quantity_df)):
    ID = quantity_df.loc[j]['EID']
    quantity_df.loc[j]['EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID].values.tolist()[0]
    
for j in range(len(order_value_df)):
    ID = order_value_df.loc[j]['EID']
    order_value_df.loc[j]['EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID].values.tolist()[0]

for j in range(len(refund_df)):
    ID = refund_df.loc[j]['EID']
    refund_df.loc[j]['EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID].values.tolist()[0]

for j in range(len(shipping_method_df)):
    ID = shipping_method_df.loc[j]['EID']
    shipping_method_df.loc[j]['EID'] = events_df['EID_new'].loc[events_df['EID_old'] == ID].values.tolist()[0]

events_df= events_df.drop(['EID_old'], axis=1)
events_df.rename(columns = {'EID_new':'EID'}, inplace = True)

In [12]:
events_df.head(50)

,EID,Activity,Timestamp,Customers,Order,Product Type,Resource
0,e1,Place Order,2022-01-01 06:29:30.886545,c25,o20,[P1],NaN
1,e2,Receive Order,2022-01-01 06:32:31.027531,c25,o20,[P1],Evelyn
2,e3,Calculate Order Value,2022-01-01 06:41:54.232130,NaN,o20,[P1],Evelyn
3,e4,Confirm Purchase,2022-01-01 06:43:47.419654,NaN,o20,[P1],Evelyn
4,e5,Get confirmation,2022-01-01 06:43:50.685787,c25,o20,NaN,NaN
5,e6,Confirm shipping information,2022-01-01 06:49:19.695876,c25,o20,NaN,NaN
6,e7,Determine shipping method,2022-01-01 06:50:10.117515,c25,o20,NaN,Evelyn
7,e8,Ship by courrier,2022-01-01 07:00:16.856934,NaN,o20,NaN,Ryan
8,e9,Place Order,2022-01-01 07:03:57.531410,c39,o19,[P1],NaN
9,e10,Place Order,2022-01-01 07:06:11.448466,c23,o18,[P1],NaN
10,e11,Send invoice,2022-01-01 07:06:26.553710,NaN,o20,NaN,Evelyn
11,e12,Receive Order,2022-01-01 07:09:42.413024,c39,o19,[P1],Olivia
12,e13,Deliver package,2022-01-01 07:12:08.079949,c25,o20,NaN,Ryan
13,e14,Determine satisfaction,2022-01-01 07:15:13.992457,c25,o20,NaN,NaN
14,e15,Receive Order,2022-01-01 07:15:28.092529,c23,o18,[P1],Sophia
15,e16,Calculate Order Value,2022-01-01 07:16:24.287734,NaN,o18,[P1],Sophia
16,e17,Calculate Order Value,2022-01-01 07:17:22.838867,NaN,o19,[P1],Olivia
17,e18,Request refund,2022-01-01 07:22:23.255356,c25,o20,NaN,NaN
18,e19,Confirm shipping information,2022-01-01 07:22:24.359127,c25,o20,NaN,NaN
19,e20,Confirm Purchase,2022-01-01 07:27:29.293811,NaN,o18,[P1],Sophia
20,e21,Confirm Purchase,2022-01-01 07:28:52.708403,NaN,o19,[P1],Olivia
21,e22,Get confirmation,2022-01-01 07:28:56.405573,c39,o19,NaN,NaN
22,e23,Determine shipping method,2022-01-01 07:31:31.751286,NaN,o20,NaN,Evelyn
23,e24,Confirm shipping information,2022-01-01 07:34:25.219439,c39,o19,NaN,NaN
24,e25,Ship by express courrier,2022-01-01 07:35:21.908091,NaN,o20,NaN,Ryan
25,e26,Recollect Letter,2022-01-01 07:36:57.347916,NaN,o20,NaN,Evelyn
26,e27,Get confirmation,2022-01-01 07:37:22.732198,c23,o18,NaN,NaN
27,e28,Determine shipping method,2022-01-01 07:39:36.005222,c39,o19,NaN,Olivia
28,e29,Return Package,2022-01-01 07:42:18.816775,c25,o20,NaN,NaN
29,e30,Pay refund,2022-01-01 07:46:08.795098,c25,o20,NaN,Evelyn
30,e31,Confirm shipping information,2022-01-01 07:48:42.198657,c23,o18,NaN,NaN
31,e32,Send invoice,2022-01-01 07:50:21.800690,NaN,o19,NaN,Olivia
32,e33,Ship by courrier,2022-01-01 07:50:46.892546,NaN,o19,NaN,Violet
33,e34,Place Order,2022-01-01 07:52:06.490613,c49,o17,[P1],NaN
34,e35,Receive Order,2022-01-01 07:52:53.112775,c49,o17,[P1],Olivia
35,e36,Deliver package,2022-01-01 07:55:50.505580,c25,o20,NaN,Ryan
36,e37,Calculate Order Value,2022-01-01 07:57:50.623660,NaN,o17,[P1],Olivia
37,e38,Determine shipping method,2022-01-01 07:59:52.579757,c23,o18,NaN,Sophia
38,e39,Deliver package,2022-01-01 08:02:03.105332,c39,o19,NaN,Violet
39,e40,Determine satisfaction,2022-01-01 08:02:13.341870,c25,o20,NaN,NaN
40,e41,Confirm Purchase,2022-01-01 08:02:56.904792,NaN,o17,[P1],Olivia
41,e42,Determine satisfaction,2022-01-01 08:05:41.291057,c39,o19,NaN,NaN
42,e43,Get confirmation,2022-01-01 08:05:57.228338,c49,o17,NaN,NaN
43,e44,Ship by courrier,2022-01-01 08:07:42.326093,NaN,o18,NaN,Claire
44,e45,File Order,2022-01-01 08:07:54.924190,NaN,o20,NaN,Evelyn
45,e46,Send invoice,2022-01-01 08:09:56.343645,NaN,o18,NaN,Sophia
46,e47,Confirm shipping information,2022-01-01 08:10:16.729645,c49,o17,NaN,NaN
47,e48,Determine shipping method,2022-01-01 08:11:34.476082,c49,o17,NaN,Olivia
48,e49,File Order,2022-01-01 08:14:44.886545,NaN,o19,NaN,Olivia
49,e50,Ship by courrier,2022-01-01 08:17:32.865140,NaN,o17,NaN,Ryan

FIX QUANTITY TABLE

In [13]:
quantity_df[['Quantity']] =  quantity_df[['Quantity']].fillna(0)
#quantity_df['Quantity']=quantity_df[['P1']].values.tolist()
#quantity_df=quantity_df.drop(['P1'], axis=1)
columns_titles = ["QID","Quantity",'EID','OID']
quantity_df=quantity_df.reindex(columns=columns_titles)
quantity_df

    QID  Quantity   EID  OID
0    Q1         4    e1   o1
1    Q2         3   e11   o2
2    Q3        13    e5   o3
3    Q4        13   e37   o4
4    Q5        11   e34   o5
5    Q6        14   e78   o6
6    Q7         4   e47   o7
7    Q8         4   e94   o8
8    Q9        10  e139   o9
9   Q10        14  e127  o10
10  Q11        10  e171  o11
11  Q12        10  e211  o12
12  Q13         6  e218  o13
13  Q14         2  e245  o14
14  Q15         9  e202  o15
15  Q16         9  e247  o16
16  Q17        11  e195  o17
17  Q18        10  e199  o18
18  Q19         5  e214  o19
19  Q20        11  e190  o20

In [14]:
product_types_df

  PID  Value  Fragile
0  P1     15        0

In [15]:
customers_df = customers_df.loc[customers_df['CID'].isin(customer_list)]
customers_df=customers_df.reset_index(drop=True)
customers_df

    CID                Name         Bank Account Importance
0    c3      Thomas Jorstad  BE66 7683 4660 2664        Low
1    c5       Thomas Summer  BE64 7677 4686 2650       High
2    c6         Manuel Rose  BE63 7674 4699 2643        Low
3   c12     Milton Thompson  BE57 7656 4777 2601       High
4   c13     Donald Mcdonald  BE56 7653 4790 2594        Low
5   c17      Frank Thompson  BE52 7641 4842 2566       High
6   c18      Christina Reed  BE51 7638 4855 2559        Low
7   c19      Stephen Dufour  BE50 7635 4868 2552        Low
8   c25        Brian Breden  BE44 7617 4946 2510        Low
9   c28  Elizabeth Villegas  BE41 7608 4985 2489        Low
10  c30       Albert Hutnak  BE39 7602 5011 2475       High
11  c36        Lucio Fisher  BE33 7584 5089 2433        Low
12  c37        Beth Winslow  BE32 7581 5102 2426        Low
13  c41          John Jones  BE28 7569 5154 2398        Low
14  c47          Jeremy Day  BE22 7551 5232 2356        Low
15  c48       Stephen Hicks  BE21 7548 5245 2349        Low
16  c50       Victor Belton  BE19 7542 5271 2335        Low

In [16]:
shipping_method_df

    SID   Shipping Method   EID  OID
0    S1              Mail   e12   o1
1    S2          Courrier   e26   o2
2    S3  Express Courrier   e48   o2
3    S4          Courrier   e20   o3
4    S5  Express Courrier   e42   o3
5    S6          Courrier   e61   o4
6    S7          Courrier   e69   o5
7    S8  Express Courrier  e100   o5
8    S9          Courrier  e101   o6
9   S10              Mail   e73   o7
10  S11  Express Courrier  e105   o7
11  S12          Courrier  e118   o8
12  S13  Express Courrier  e143   o8
13  S14          Courrier  e156   o9
14  S15          Courrier  e141  o10
15  S16  Express Courrier  e161  o10
16  S17          Courrier  e181  o11
17  S18  Express Courrier  e188  o11
18  S19          Courrier  e253  o12
19  S20              Mail  e271  o13
20  S21  Express Courrier  e311  o13
21  S22              Mail  e287  o14
22  S23          Courrier  e222  o15
23  S24  Express Courrier  e278  o15
24  S25          Courrier  e291  o16
25  S26          Courrier  e240  o17
26  S27  Express Courrier  e302  o17
27  S28          Courrier  e235  o18
28  S29          Courrier  e267  o19
29  S30          Courrier  e219  o20

In [17]:
orders_df

    OID
0    o1
1    o2
2    o3
3    o4
4    o5
5    o6
6    o7
7    o8
8    o9
9   o10
10  o11
11  o12
12  o13
13  o14
14  o15
15  o16
16  o17
17  o18
18  o19
19  o20

In [18]:
order_value_df

    VID Order Value   EID  OID
0    V1          60    e3   o1
1    V2          45   e17   o2
2    V3         195    e8   o3
3    V4         195   e41   o4
4    V5         165   e43   o5
5    V6         210   e88   o6
6    V7          60   e55   o7
7    V8          60  e107   o8
8    V9         150  e147   o9
9   V10         210  e133  o10
10  V11         150  e175  o11
11  V12         150  e225  o12
12  V13          90  e227  o13
13  V14          30  e259  o14
14  V15         135  e207  o15
15  V16         135  e261  o16
16  V17         165  e203  o17
17  V18         150  e212  o18
18  V19          75  e228  o19
19  V20         165  e194  o20

In [19]:
refund_df

    RID Refund Value   EID  OID
0    R1            0    e1   o1
1    R2            0   e11   o2
2    R3            1   e35   o2
3    R4            0   e76   o2
4    R5            0    e5   o3
5    R6            1   e29   o3
6    R7            0   e74   o3
7    R8            0   e37   o4
8    R9            0   e34   o5
9   R10            1   e91   o5
10  R11            0  e121   o5
11  R12            0   e78   o6
12  R13            0   e47   o7
13  R14            1   e96   o7
14  R15            0  e124   o7
15  R16            0   e94   o8
16  R17            1  e134   o8
17  R18            0  e158   o8
18  R19            0  e139   o9
19  R20            0  e127  o10
20  R21            1  e152  o10
21  R22            0  e177  o10
22  R23            0  e171  o11
23  R24            1  e185  o11
24  R25            0  e206  o11
25  R26            0  e211  o12
26  R27            0  e218  o13
27  R28            1  e299  o13
28  R29            0  e329  o13
29  R30            0  e245  o14
30  R31            0  e202  o15
31  R32            1  e238  o15
32  R33            0  e313  o15
33  R34            0  e247  o16
34  R35            0  e195  o17
35  R36            1  e279  o17
36  R37            0  e325  o17
37  R38            0  e199  o18
38  R39            0  e214  o19
39  R40            0  e190  o20

In [20]:
writer = pd.ExcelWriter('artificial log.xlsx', engine='xlsxwriter')

In [21]:
# event table
events_df.to_excel(writer, sheet_name='Events')

#object tables
customers_df.to_excel(writer, sheet_name='Customers')
product_types_df.to_excel(writer, sheet_name='Product Type')
orders_df.to_excel(writer, sheet_name='Orders')

#Attribute tables
quantity_df.to_excel(writer, sheet_name='Quantity')
order_value_df.to_excel(writer, sheet_name='Order Value')
refund_df.to_excel(writer, sheet_name='Refund Value')
shipping_method_df.to_excel(writer, sheet_name='Shipping Method')

In [22]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()